html
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url(cute.jpg);
	height: 100vh;
	background-size: cover;
	Background-position: center
}
h2
{
  margin-left: 100px;
  margin-top: 100px;
  font-size: 45px;
  color: white;
}
h4
{
  color: white;
  margin-left: 130px;
  margin-top: -25px;
  width: 50%;
}
.main-nav
{
	float: right;
  padding: 5px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
  color: white;
  	text-decoration: none;
  	padding: 3px 15px;
  	font-family: "Roboto", sans-serif;
  	font-size: 20px;
    margin: 15px;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

h1
{
  text-align: center;
  margin-top: 250px;
  font-size: 70px;
  color: white;
}
h3
{
  text-align: center;
  margin-top: -30px;
  font-size: 30px;
}
.button
{
  text-align: center;
}
.btn-one
{
  font-size: 15px;
  padding: 5px 25px;
	color: white;
	text-decoration: none;
  border: 1px solid darkorange;
  background-color: darkorange;
}
.btn-two
{
  font-size: 15px;
  padding: 3px 15px;
	color: white;
	text-decoration: none;
  border: 1px solid darkorange;
}
.btn-two:hover
{
	background-color: darkorange;
	transition: all 0.1s ease-in;
}
.btn
{
  padding: 25px;
  margin: 15px;
}
footer
{
	color: white;
	float: right;
	margin-top: 200px;
	padding-top: 100px;
}
